<input type="button" value="click" (click)="CallLogic()" />
<input type="text" name="" id="" [(ngModel)]="someValue" />
<table>
  <tr>
    values
  </tr>
  <tr *ngFor="let temp of someValues">
    <td>
      {{ temp }}
    </td>
  </tr>
</table>
<div app-test1></div>
<app-interpolation />
<app-classbinding />
<app-template-ref-var />
<app-two-way-binding />
<app-structural-directives />
<div>
  <p>message from child</p>
  <h1>{{ message }}</h1>
</div>
<app-child-component [parentData]="name" (childEvent)="message = $event">
</app-child-component>
<app-pipes-examples />
<app-services />
<app-emp-name />
<h1 style="text-align: center">routings example</h1>
<nav>
  <h1>
    <a routerLink="/titles" routerLinkActive="active"> get title</a>
  </h1>
</nav>
<h1 routerLink="/idnumber" routerLinkActive="active">id list</h1>
<h1 routerLink="/templateDriven" routerLinkActive="active">
  Template driven forms
</h1>
<h1 routerLink="/reactiveDriven" routerLinkActive="active">
  reactive driven forms
</h1>

<router-outlet></router-outlet>
{{ someValue }}
